<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book.id), method: :delete do %>
    <span style="color:red;"><i class="fa-solid fa-heart"></i><%= book.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book.id), method: :post do %>
    <span><i class="fa-solid fa-heart"></i>︎<%= book.favorites.count %></span>
  <% end %>
<% end %>